@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.Fform{
    background-color: #06C167;
    height: 1000px;
}
.Flogo{
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    b{
        color:#06C167;
    }
}
.FDform{
    border: 2px solid gray;
    width: 500px;
    border-radius: 5px;
    position: relative;
    top: 10rem;
    left: 28rem;
    background: white;
    box-shadow: 10px 5px 5px gray;
}
/* this is email */
.FDemail{
    width: 400px;
    padding: 5px;
    margin: 5px;
}
/* this is username */
.FDname{
    width: 400px;
    padding: 5px;
    margin: 5px;
}
/* this is user phone */
.FDphone{
    width: 400px;
    padding: 5px;
    margin: 5px;
}
.Fquantity{
    width: 400px;
}
.FDselect{
    width: 200px;
    margin: 5px;
}
.checkbox{
    margin: 8px;
}
.FDaddress{
    padding: 10px;
    width: 350px;
    margin: 1px;
}
#Fcategry{
    width: 400px;
}
#FDsubmit{
    width: 400px;
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 5px;
    margin: 5px;
}

@media(max-width: 500px){
    .FDform{
        border: 2px solid gray;
        width: 350px;
        border-radius: 5px;
        position: relative;
        top: 2rem;
        left: 1rem;
        background: white;
        box-shadow: 10px 5px 5px gray;
    }
    /* this is email */
.FDemail{
    width: 250px;
    padding: 5px;
    margin: 5px;
}
/* this is username */
.FDname{
    width: 200px;
    padding: 5px;
    margin: 5px;
}
/* this is user phone */
.FDphone{
    width: 250px;
    padding: 5px;
    margin: 5px;
}

.FDselect{
    width: 250px;
    margin: 5px;
}

.FDaddress{
    padding: 10px;
    width: 250px;
    margin: 1px;
}
#Fcategry{
    width: 250px;
}
#FDsubmit{
    width: 250px;
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 5px;
    margin: 5px;
}
.Fquantity{
    width: 250px;
}

}
  
  