@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.logo{
  font-size: 28px;
  color:var(--navfont);
}
.heading{
  text-decoration: underline green ;
  text-align: center;
}
.logo1{
  width: fit-content;
  position: absolute;
  top: 3rem;
  left: 38rem;
  cursor: pointer;
  color: #111;
  font-weight: 600;
  b{
    color: green;
  }
}
.para{
  text-align: center;
}
@media only screen and (max-width:1320px){
  .banner{
    width: 100%;
    height: 90vh;
    background:no-repeat;
  background-size: cover;
  display: grid;
  place-items:center;
  padding-top: 8rem;
  }
}

.banner{
  width: auto;
  height: 300px;
  background:url('../../img/FoodDonate/profilecover1.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items:center;
  padding-top: 8rem;
}


.content
{
  padding: 20px;
  background-color: #06C167;

  z-index: 0;
}

.content p
{
  font-size: 1.1em;
  color:white;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.SWhead a
{
  display: inline-block;
  border-radius: 5px;
  position: relative;
  left: 36rem;
  top: 7.5rem;
  font-size: 1em;
  background: #111;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 2px;
  transition: 0.2s;
}

.banner a:hover
{
  letter-spacing: 6px;
}
/* photo */

.photo{
  padding: 20px;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 10px;
  align-items: center;
}
.box{
  overflow: hidden;
  border-radius: 20px;
  
}
.wrapper img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: 0.5s all  ease-in-out;
}
.wrapper img:hover{
   transform: scale(.9);

}
