.Campaign {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  .container1{
    text-align: center;
    background: linear-gradient(#a2d2ff,#219ebc);
    box-shadow: 5px 10px 5px 5px;
  }

  .Accheading {
    text-align: center;
    color: #333;
  }
  
  .Accdetails {
    margin-bottom: 20px;
  }
  
  .Accpara {
    text-align: center;
  }
  
  .Acclogo img {
    display: block;
    margin: 0 auto;
    width: 100px; /* Adjust size as needed */
  }
  
  .QRcod {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .QRcode img {
    display: block;
    margin: 0 auto;
    width: 200px; /* Adjust size as needed */
  }
  
  .Upisupport img {
    display: block;
    margin: 0 auto;
    width: 250px; /* Adjust size as needed */
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 600px) {
    .Campaign {
      max-width: 100%;
    }
  
    .Acclogo img {
      width: 80px; /* Adjust size as needed */
    }
  
    .QRcode img {
      width: 150px; /* Adjust size as needed */
    }
  
    .Upisupport img {
      width: 200px; /* Adjust size as needed */
    }
  }
  