.footer{
    background-color: #252422 ;

.text {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: fit-content;
    position: relative;
    right: 10rem;
    transition: all0.4s ease;
}
 .footer-copyright{
    color: white;
    border: 1px solid grey ;
    text-align: center;
 }
 .col{
    position: relative;
    left: 20rem;
 }
.logo{
    height: 200px;
    width: 300px;
}
}