@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.preloader{
    height: 100vh;
    width: 100%;
    background:black;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.preloader .texts-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 800px;
    font-size: 40px;
    font-weight: 900px;
    overflow: hidden;
    color:#e85d04;
}

@media (max-width:600px){
    .preloader{
        height: 100vh;
        width: 100%;
        background:black;
        color: white;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .preloader .texts-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        width: 500px;
        font-size: 20px;
        font-weight: 800px;
        overflow: hidden;
        color:#e85d04;
    }
}