*{
  box-sizing: border-box;
}
.register{
  height: 100vh;
  width: 100%;
}

.Rform-box{
    border-radius: 10px;
    position: relative;
    left: 30rem;
    top: 2rem;
    height: 450px;
    width: 350px;
    border: 1px solid grey;
    box-shadow: 10px 5px 5px grey;
    background: white;
  }
  
  .Rpage1{
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }
  .Rpage2{
    font-size: 15px;
    text-align: center;
    cursor: pointer;
  }
  
  input[type="text"],input[type="email"] {
    cursor: pointer;
    height: 25px;
    width: 250px;
    outline: none;
  }
  input[type="password"] {
    cursor: pointer;
    height: 25px;
    width: 250px;
    outline: none;
  }
  
  .Rinput-container {
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }
  
  .Rinput-container input{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
  }
  
  button[type="submit"] {
    cursor: pointer;
    width: 300px;
    position: relative;
    left: 1.5rem;
    font-size: 15px;
    background: black;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
  }

  
  .register{
    width: 100vw;
    height: 100vh;
    background: url('../img/Login/Loginpage.jpg');
    background-position: center;
    background-size: cover;
  }

  @media (max-width: 768px){
    .Rform-box{
      border-radius: 10px;
      position: relative;
      left: 3rem;
      top: 6rem;
      height: 450px;
      width: 300px;
      border: 1px solid grey;
      box-shadow: 10px 5px 5px grey;
      background: white;
    }
    .Rinput-container {
      display: flex;
      width: 250px;
      flex-direction: column;
      gap: 8px;
      margin: 10px;
    }
    
    .Rinput-container input{
      border: none;
      border-bottom: 1px solid black;
      background: transparent;
    }
    button[type="submit"] {
      cursor: pointer;
      width: 250px;
      position: relative;
      left: 1.5rem;
      font-size: 15px;
      background: black;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
    }
  }